<!DOCTYPE html>
<html lang="en" ng-app='app'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular Persian Datepicker</title>

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
	<style>

	
	</style>
    <script src="assets/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="assets/js/bootstrap/bootstrap.min.js"></script>
	<script src="assets/js/angularjs/angular.min.js"></script>
	
	<script src="assets/js/angularjs/ui/ui-bootstrap/dateparser.js" type="text/javascript"></script>
	<script src="assets/js/angularjs/ui/ui-bootstrap/position.js" type="text/javascript"></script>
	
	<script src="assets/js/angularjs/ui/ui-bootstrap/datepicker-tpls.js" type="text/javascript"></script>
	
	<script src="persiandate.js" type="text/javascript"></script>
	<script src="persian-datepicker-tpls.js" type="text/javascript"></script> 
	
	<script src="js/app.js" type="text/javascript"></script>
	<script src="js/MainController.js" type="text/javascript"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="arzesh-bootstrap"  ng-controller='MainController'>
  <div class="container">
<div class="row">
<div class="col-md-12">
	<section id="datepicker">
                        <div class="page-header">
                          <h1>Persian Datepicker (beta)<small>
                              (<a href="https://github.com/AminRahimi/angular-bootstrap-persian-datepicker" target="_blank">ui.bootstrap.persian.datepicker</a>)
                          </small></h1>
                          </div>
                          <div class="row">
                            <div class="col-md-6 show-grid">
							<div >
    <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

    <h4>Inline</h4>
    <div style="display:inline-block; min-height:290px;">
        <persian-datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" starting-day="6"></persian-datepicker>
    </div>

    <h4>Popup</h4>
    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
              <input type="text" class="form-control"  datepicker-popup-persian="{{format}}" ng-model="dt" is-open="persianIsOpen"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="بسته" />
               <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openPersian($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span> 
            </p>
			
			
			<p class="input-group">
              <input type="text" class="form-control"   datepicker-popup="{{format}}" ng-model="dt" is-open="gregorianIsOpen"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="بسته" />
               <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openGregorian($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span> 
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Format:</label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
        </div>
    </div>

    <hr />
    <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="dt = '2009-08-24'">2009-08-24</button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" tooltip="After today restriction">Min date</button>
</div>
							
							
							
                                  </div>
                            <div class="col-md-6">
                                <p>A clean, flexible, and fully customizable persian date picker.</p>

<p>User can navigate through months and years.
The datepicker shows dates that come from other than the main month being displayed. These other dates are also selectable.</p>

<p>Everything is formatted using the <a href="https://github.com/AminRahimi/angular-bootstrap-persian-datepicker/blob/master/persiandate.js">persian date filter</a> and thus is also localized.</p>

<h3>Datepicker Settings</h3>

<p>All settings can be provided as attributes in the <code>datepicker</code> or globally configured through the <code>datepickerConfig</code>.</p>

<ul>
<li><p><code>ng-model</code> <i class="glyphicon glyphicon-eye-open"></i>
 :
 The date object.</p></li>
<li><p><code>datepicker-mode</code> <i class="glyphicon glyphicon-eye-open"></i>
<em>(Defaults: 'day')</em> :
Current mode of the datepicker <em>(day|month|year)</em>. Can be used to initialize datepicker to specific mode.</p></li>
<li><p><code>min-date</code> <i class="glyphicon glyphicon-eye-open"></i>
 <em>(Default: null)</em> :
 Defines the minimum available date.</p></li>
<li><p><code>max-date</code> <i class="glyphicon glyphicon-eye-open"></i>
 <em>(Default: null)</em> :
 Defines the maximum available date.</p></li>
<li><p><code>date-disabled (date, mode)</code>
 <em>(Default: null)</em> :
 An optional expression to disable visible options based on passing date and current mode <em>(day|month|year)</em>.</p></li>
<li><p><code>show-weeks</code>
 <em>(Defaults: true)</em> :
 Whether to display week numbers.</p></li>
<li><p><code>starting-day</code>
 <em>(Defaults: 0)</em> :
 Starting day of the week from 0-6 (0=Sunday, ..., 6=Saturday).</p></li>
<li><p><code>init-date</code>
 :
 The initial date view when no model value is not specified.</p></li>
<li><p><code>min-mode</code>
<em>(Defaults: 'day')</em> :
Set a lower limit for mode.</p></li>
<li><p><code>max-mode</code>
<em>(Defaults: 'year')</em> :
Set an upper limit for mode.</p></li>
<li><p><code>format-day</code>
 <em>(Default: 'dd')</em> :
 Format of day in month.</p></li>
<li><p><code>format-month</code>
 <em>(Default: 'MMMM')</em> :
 Format of month in year.</p></li>
<li><p><code>format-year</code>
 <em>(Default: 'yyyy')</em> :
 Format of year in year range.</p></li>
<li><p><code>format-day-header</code>
 <em>(Default: 'EEE')</em> :
 Format of day in week header.</p></li>
<li><p><code>format-day-title</code>
 <em>(Default: 'MMMM yyyy')</em> :
 Format of title when selecting day.</p></li>
<li><p><code>format-month-title</code>
 <em>(Default: 'yyyy')</em> :
 Format of title when selecting month.</p></li>
<li><p><code>year-range</code>
 <em>(Default: 20)</em> :
 Number of years displayed in year selection.</p></li>
</ul>

<h3>Popup Settings</h3>

<p>Options for datepicker can be passed as JSON using the <code>datepicker-options</code> attribute.
Specific settings for the <code>datepicker-popup</code>, that can globally configured through the <code>datepickerPopupConfig</code>, are:</p>

<ul>
<li><p><code>datepicker-popup</code>
 <em>(Default: 'yyyy-MM-dd')</em> :
 The format for displayed dates.</p></li>
<li><p><code>show-button-bar</code>
 <em>(Default: true)</em> :
 Whether to display a button bar underneath the datepicker.</p></li>
<li><p><code>current-text</code>
 <em>(Default: 'Today')</em> :
 The text to display for the current day button.</p></li>
<li><p><code>clear-text</code>
 <em>(Default: 'Clear')</em> :
 The text to display for the clear button.</p></li>
<li><p><code>close-text</code>
 <em>(Default: 'Done')</em> :
 The text to display for the close button.</p></li>
<li><p><code>close-on-date-selection</code>
 <em>(Default: true)</em> :
 Whether to close calendar when a date is chosen.</p></li>
<li><p><code>datepicker-append-to-body</code>
<em>(Default: false)</em>:
Append the datepicker popup element to <code>body</code>, rather than inserting after <code>datepicker-popup</code>. For global configuration, use <code>datepickerPopupConfig.appendToBody</code>.</p></li>
</ul>

<h3>Keyboard Support</h3>

<p>Depending on datepicker's current mode, the date may reffer either to day, month or year. Accordingly, the term view reffers either to a month, year or year range.</p>

<ul>
<li><code>Left</code>: Move focus to the previous date. Will move to the last date of the previous view, if the current date is the first date of a view.</li>
<li><code>Right</code>: Move focus to the next date. Will move to the first date of the following view, if the current date is the last date of a view.</li>
<li><code>Up</code>: Move focus to the same column of the previous row. Will wrap to the appropriate row in the previous view.</li>
<li><code>Down</code>: Move focus to the same column of the following row. Will wrap to the appropriate row in the following view.</li>
<li><code>PgUp</code>: Move focus to the same date of the previous view. If that date does not exist, focus is placed on the last date of the month.</li>
<li><code>PgDn</code>: Move focus to the same date of the following view. If that date does not exist, focus is placed on the last date of the month.</li>
<li><code>Home</code>: Move to the first date of the view.</li>
<li><code>End</code>: Move to the last date of the view.</li>
<li><code>Enter</code>/<code>Space</code>: Select date.</li>
<li><code>Ctrl</code>+<code>Up</code>: Move to an upper mode.</li>
<li><code>Ctrl</code>+<code>Down</code>: Move to a lower mode.</li>
<li><code>Esc</code>: Will close popup, and move focus to the input.</li>
</ul>
                            </div>
                        </div>
                          </section>
	</div>
	</div>
	</div>
  </body>
</html>
